<div class="ui item borderless">
	<form class="ui large from segment">
	  <h3 class="ui header">{{titleForm}}</h3>
	  <div class="ui item">
	    <label for="name">Nombre:</label>
	    <div class="ui input">
		    <input id="name" value="{{currentOwner?.name}}" name="name" #name>
		</div>
	  </div>
	  <div class="ui item">
	    <label for="lastname">Apellidos:</label>
	    <div class="ui input">
		    <input id="lastname" value="{{currentOwner?.last_name}}" name="lastname" #lastname>
	    </div>
	  </div>
	  <div class="ui item">
		  <button (click)="addOwner(name, lastname)" class="ui {{colorButton}} right floated button">
		    {{titleButton}}
		  </button>
		</div>
	</form>
</div>