<div class="ui menu">
	<div class="ui item">
		<table *ngIf="assetList.length > 0" class="ui celled table" >
			<thead>
				<tr>
					<th>Identificador</th>
					<th>Precio</th>
					<th>Categoría</th>
					<th>Responsable</th>
					<th>Último registro</th>
					<th>Estado</th>
					<th>
						<div class="ui positive button large" (click)="onAddClicked()">Nuevo</div>
					</th>
				</tr>
			</thead>
			<tr *ngFor="let asset of assetList;let i=index">
				<td>{{ asset.epc_id }}</td>
				<td>{{ asset.price }}</td>
				<td>{{ getCategoryNameById(asset.category) }}</td>
				<td>{{ getOwnerNameById(asset.owner) }}</td>
				<td>{{ asset.last_reading }}</td>
				<td>{{ getStatusRepresentation(asset.status) }}</td>
				<td><div class="row" href=""><app-asset-menu (onDeleteItem)="onDeleteItem($event)" (onUpdateItem)="onUpdateItem($event)" [typeItem]="1" [idItem]="asset.id" [idArray]="i"></app-asset-menu></div></td>
			</tr>
		</table>
		<h1 *ngIf="assetList.length == 0">No existen activos registrados.</h1>
	</div>
	<app-asset-editor (onCreatedNewAsset)="onRecibingNewAsset($event)" (onUpdatedAsset)="onUpdatedAsset($event)" [currentAsset]="currentAsset" [assetList]="assetList" [categoryList]="categoryList" [ownerList]="ownerList" [api]="api" [toUpdate]="toUpdate" [titleForm]="titleEditForm" [titleButton]="titleButton" [colorButton]="colorButton"></app-asset-editor>
</div>
