<div class="ui menu">
	<a class="ui item"  style="margin-left: 22px;" [routerLink]="['/home']"><h1> Home </h1></a>
	<a class="ui item" [routerLink]="['/assets']"><h1> Activos</h1></a>
	<a class="ui item" [routerLink]="['/categories']"><h1>Categorías</h1></a>
	<a class="ui item" [routerLink]="['/owners']"><h1>Responsables</h1></a>


<!--   	<app-asset-nav-item (click)="onClickAssetNavItem()"></app-asset-nav-item>
  	<app-category-nav-item (click)="onClickCategoryNavItem()"></app-category-nav-item>
	<app-owner-nav-item (click)="onClickOwnerNavItem()"></app-owner-nav-item> -->
</div>
