<div class="ui main text container">
	<app-asset-navigator (onNavItemSelected)="onNavItemSelected($event)"></app-asset-navigator>
</div>

<div id="content">
<div class="ui main container">
<router-outlet></router-outlet>
</div>
</div>


<!-- <div class="ui menu">
 -->
 	<!-- <app-asset-list [assetList] = "assetList" [categoryList] = "categoryList" [ownerList] = "ownerList" [selectedItem] = "selectedItemNav"></app-asset-list> -->
<!-- 	<app-category-list [categoryList] = "categoryList"></app-category-list>
	<app-owner-list [ownerList] = "ownerList"></app-owner-list>
 -->
 	<!-- <app-asset-editor></app-asset-editor> -->
<!-- </div> -->