<div class="ui menu">
	<div class="ui item">
		<table *ngIf="categoryList.length > 0" class="ui celled table" >
			<thead>
				<tr>
					<th>Nombre</th>
					<th><div class="ui positive button large" (click)="onAddClicked()">Nuevo</div></th>
				</tr>
			</thead>
			<tr *ngFor="let category of categoryList;let i=index">
				<td>{{ category.name  }} </td>
				<td><div class="row"><app-asset-menu (onDeleteItem)="onDeleteItem($event)" (onUpdateItem)="onUpdateItem($event)" [typeItem]="2" [idItem]="category.id" [idArray]="i"></app-asset-menu></div></td>
			</tr>
		</table>
		<h1 *ngIf="categoryList.length == 0">No existen categorías registradas.</h1>
	</div>
	<app-category-editor (onUpdatedCategory)="onUpdatedCategory($event)" [currentCategory]="currentCategory" [api]="api" [toUpdate]="toUpdate" [titleForm]="titleEditForm" [titleButton]="titleButton" [colorButton]="colorButton" [categoryList]="categoryList"></app-category-editor>
</div>
