<div class="ui menu">
	<div class="ui item">
		<table *ngIf="ownerList.length > 0" class="ui celled table">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Apellidos</th>
					<th><div class="ui positive button large" (click)="onAddClicked()">Nuevo</div></th>
				</tr>
			</thead>
			<tr *ngFor="let owner of ownerList;let i=index">
				<td>{{ owner.name }}</td>
				<td>{{ owner.last_name }} </td>
				<td><div class="row"><app-asset-menu (onDeleteItem)="onDeleteItem($event)" (onUpdateItem)="onUpdateItem($event)" [typeItem]="3" [idItem]="owner.id" [idArray]="i"></app-asset-menu></div></td>
			</tr>
		</table>
		<h1 *ngIf="ownerList.length == 0">No existen responsables registrados.</h1>
	</div>
	<app-owner-editor (onUpdatedOwner)="onUpdatedOwner($event)" [currentOwner]="currentOwner" [api]="api" [toUpdate]="toUpdate" [titleForm]="titleEditForm" [titleButton]="titleButton" [colorButton]="colorButton" [ownerList]="ownerList"></app-owner-editor>
</div>