<div class="ui item borderless">
	<div class="ui panel">
		<form class="ui large from segment">
		  <h3 class="ui panel header">{{titleForm}}</h3>

		  <div class="ui panel body">
			  <div class="ui item">
			    <label for="title">Precio:</label><br>
			    <div class="ui input">
			    	<input id="title" value="{{currentAsset?.price}}" name="
			    	title" #price>
			    </div>
			  </div>
			  <div class="ui item">
			    <label for="epc">Identificador:</label>
			      <div class="ui input">
				    <input id="epc" value="{{currentAsset?.epc_id}}" name="link" #epc_id>
				  </div>
			  </div>
			  <div class="ui item">
			    <label for="link">Estado:</label>
				<select value="{{currentAsset?.status}}" #status>
					<option value="miss" selected>Faltante</option>
					<option value="readed">Presente</option>
					<option value="none">Buscando</option>
				</select>
			  </div>
			  <div class="ui item">
			    <label for="link">Categoria:</label>
				<select value="{{currentAsset?.category}}" #categoryid>
					<option *ngFor="let category of categoryList" value="{{category.id}}">{{category.name }}</option>
				</select>
			  </div>
			  <div class="ui item">
			    <label for="link">Responsable:</label>
				<select value="{{currentAsset?.owner}}" #ownerid>
					<option *ngFor="let owner of ownerList" value="{{owner.id}}">{{owner.name }} {{ owner.last_name }}</option>
				</select>
			  </div>
			  <div class="ui item">
				  <button (click)="addAsset(price, epc_id, status, categoryid, ownerid)" class="{{colorButton}} right floated button">
				    {{titleButton}}
				  </button>
				</div>

			</div>
		</form>
	</div>

</div>