<div class="ui item borderless">
	<form class="ui large from segment">
	  <h3 class="ui header">{{titleForm}}</h3>
	  <div class="ui">
	    <label for="name">Nombre: </label>
	    <div class="ui input">
		    <input id="name" value="{{currentCategory?.name}}" name="name" #name>
		</div>
	  </div>
	  <div class="ui">
		  <button (click)="addCategory(name)" class="ui {{colorButton}}  right floated button">
		    {{titleButton}}
		  </button>
		</div>
	</form>
</div>